<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>짱구는 못말려</title>
    <style>
        body {
            background-image: url('../static/떡잎마을 방범대.jpg');
            background-size: cover; /* 배경 이미지가 화면을 덮도록 설정 */
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>떡잎마을 방범대 이미지 분류</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="업로드">
    </form>
</body>
</html>
